#problem{
    font-size:40px;
    color: #9841d8;
}
#problemContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
#meaning{
    color: black;
}
#choiceContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.yesorno{
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    margin-top:1vh;
    margin-bottom:1vh;
    width: 20vw;
    height: 5vh;
    background-color: white;
    color: black;
}
button{
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
.disabled-button{
    pointer-events: none;
}
.chosen{
    pointer-events: none;
}